.transactionHistory {
  width: 300px;
  text-align: center;
  margin-left: 30px;
  border: 1px solid grey;
}

.cell {
  width: 60px;
  height: 30px;

  margin-right: 5px;
}

.tableTitle {
  background-color: hotpink;
  color: white;
  height: 60px;
}

.tr:nth-child(2n + 1) {
  background-color: #b8b8b8;
}
